# source
**/*.ts
*.ts

# definitions
!**/*.d.ts
!*.d.ts

# configuration
package-lock.json
tslint.json
tsconfig.json
tsconfig.cjs.json
tsconfig.esm.json
tsconfig.spec.json
.prettierrc
yarn.lock
pnpm-lock.yaml
eslint.config.cjs
nodemon.json

*.tsbuildinfo
.husky
.env
.generated
.swcrc
.prettierignore
.editorconfig
.commitlintrc.json
.gitattributes
.eslintrc.js
.cmmv.config.js
.cmmv.config.cjs
.cmmv.config.mjs
